<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 data-th-text="${game.name}"></h1>
    <div>
        <img data-th-src="${game.image}" width="200" height="100">
    </div>
    <div>
        <ul>
            <li>
                <Strong>Id:</Strong> <span data-th-text="${gid}"></span>
            </li>
            <li>
                <Strong>Year:</Strong> <span data-th-text="${game.year}"></span>
            </li>
            <li>
                <Strong>Ranking:</Strong> <span data-th-text="${game.ranking}"></span>
            </li>
            <li>
                <Strong>Users Rated:</Strong> <span data-th-text="${game.usersRated}"></span>
            </li>
            <li>
                <Strong>Link:</Strong> <a data-th-text="${game.name}" data-th-href="${game.url}"></a>
            </li>
        </ul>
    </div>
    <div>
        <h2>Add Comment</h2>
        <form method="post" data-th-action="@{/game/comment}">
            <input type="hidden" name="gid" data-th-value="${game.gid}">
            <table>
                <tr>
                    <td>
                        <strong>Name:</strong>
                    </td>
                    <td>
                        <input type="text" name="username" size="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        <Strong>Rating</Strong>
                    </td>
                    <td>
                        <select name="rating">
                            <option  value="1">1</option>
                            <option  value="2">2</option>
                            <option  value="3">3</option>
                            <option  value="4">4</option>
                            <option  value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <Strong>Comments</Strong>
                    </td>
                    <td>
                        <textarea name="comment"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" >Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>